<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <h1>This is a Header</h1>
    <form action="/login" method="POST">
     <input  type="text" name="name" placeholder="Username">

     <input type="submit" name="submitForLogin" value="Login">
   </form>
    <!-- Add your EJS code here -->
</body>
</html>