<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>

  <!-- <h1>This is a Header</h1> -->
  <h3><a href="/urls/new">Create New One</a></h3>

  <h3><a href="/urls">Home</a></h3>

  <% if(username) {%>
   <!--  <%= username %> -->
    <form action="/logout" method="POST">
      <input name="logout" type="submit" value="Logout">
    </form>
  <%}%>
</body>
</html>