<!DOCTYPE html>
<html lang="en">
  <head>
    <title>shortURL</title>
  </head>

  <body>
    <% include partials/_header.ejs %>

 <form action="/login" method="POST">
      <input  type="text" name="email" placeholder="email@example.com">
      <input type="password" name="password" placeholder="password">
      <input type="submit" name="submitForLogin" value="Login">
  </form>

 </body>
</html>