 <!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <!-- run js inside  -->

</head>

<body>

  <% include ./partials/_header %>

  <h1> <%= shortURL %>  </h1>
  <p> <%= longURL %>  </p>


<!-- for post update -->
<form action="/urls/<%= shortURL  %>" method="POST">
<input  type="text" name="newlongURL" placeholder="<%= longURL %>">

<input type="submit" name="update" value="UPDATE">
</form>


</body>
</html>

